.messages-chat-item{
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    & .item{
        &__avatar{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 5px;
        }
        &__body{
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        &__date{
            color: rgb(191, 191, 191);
            font-size: 14px;
            height: 50%;
            opacity: 0;
            transition: opacity 0.2s;
        }
        &__value{
            color: white;
        }
    }
    &.my{
        flex-direction: row-reverse;   
        & .item{
            &__avatar{
                margin-left: 5px;
            }
            &__body{
                align-items: flex-end;
            }
        }
    }
    &:hover{
        .item{
            &__date{
                opacity: 1;
            }
        }
    }
}